.container-fluid{
    background-color:  #ff874a ;
    border-color: black;
}

.navbar-default {
    background-color: black;
    border-color: black;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color:black;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: black;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color:black;
}

.btn-default {
    color: white;
    background-color: black;
    border-color: black;
}

.btn-booking {
    color: white;
    background-color: orangered;
    border-color: black;
}

.form-control {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.navbar-collapse, .navbar-default .navbar-form {
    border-color: black;
}

.btn-default:hover, .btn-booking, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default  {
    color: black;
    background-color: white;
    border-color: black;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: black;
    border-radius: 10px;
}

.map_canvas {
    width: 400px;
    height: 200px;
    margin: 10px 20px 10px 0;
}

.panel-title {
   color: #5bc0de;
}

.badgeNoSelect {
    background-color: gray;
}

